In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -0.680818  0.225507
1    a  two  1.440395  0.401739
2    b  one -1.165515  1.086054
3    b  two  0.545047 -0.774431
4    a  one -1.007818 -0.182269

In [2]:
gb = df.groupby(by='key1')
gb.sum()

           key2     data1     data2
key1
a     onetwoone -0.248240  0.444977
b        onetwo -0.620468  0.311624

In [3]:
gb1 = df.groupby(by='key1')[['data1','data2']]
gb1.sum()

         data1     data2
key1
a     0.403191  0.028792
b     0.437284 -0.552362