In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.098025 -0.881144
1    a  two  1.591675  0.262819
2    b  one  1.922462 -2.686926
3    b  two -1.149691  1.311798
4    a  one  0.642630  0.658438

In [2]:
s_gb = df['data1'].groupby(by=df['key1'])
len(s_gb)
s_gb.sum()

key1
a    3.332330
b    0.772772
Name: data1, dtype: float64

In [3]:
s_gb1 = df['data1'].groupby(by=[df['key1'],df['key2']])
len(s_gb1)
s2d = s_gb1.sum()
s2d.unstack()

key2       one       two
key1
a     1.740655  1.591675
b     1.922462 -1.149691