In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  1.077164 -0.774818  0.701776
台中 -0.783165  0.296991 -0.590460
台南  0.484146  1.613372  1.548994
高雄 -0.038500  0.689582 -0.524929

In [2]:
def formap(value):
    return f'{value:.3f}%'

frame.map(formap)

          b        d        e
台北   1.077%  -0.775%   0.702%
台中  -0.783%   0.297%  -0.590%
台南   0.484%   1.613%   1.549%
高雄  -0.038%   0.690%  -0.525%